//Core
@import "core/variables";
@import "core/mixins";

.single__title {
    text-align: center;
    @include color-gradient;
    margin-bottom: 32px;

    @include response-max($mobile) {
        margin-bottom: 24px;
    }
}

.thumbnail {
    display: block;
    aspect-ratio: 2.6 / 1;
    overflow: hidden;
    border-radius: 12px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include response-max($mobile) {
        aspect-ratio: 2 / 1;
    }
}

.single__content {
    .text_block {
        padding: 24px;
        border-radius: 12px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 12px 0 rgba(141, 110, 109, 0.1);
    }

    .single__content_img {
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 48px;

        img {
            object-fit: cover;
        }
    }

    @include response-max($mobile) {
        .single__content_img {
            aspect-ratio: 3 / 2;
            margin-bottom: 32px;
        }
    }
}

.single__content_row {
    display: flex;
    row-gap: 24px;
    column-gap: 32px;

    .card {
        width: 100%;
        padding: 24px;
        gap: 8px;
        border-radius: 12px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 12px 0 rgba(141, 110, 109, 0.1);
        flex-shrink: 0;
        height: fit-content;
    }

    @include response-min($desktop) {
        .card {
            max-width: 379px;
        }

        .text_block .card__btn {
            display: none;
        }
    }

    @include response-max($laptop-landscape - 1) {
        flex-direction: column;
    }
}

.card__img {
    aspect-ratio: 2/2.5;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 12px;

    img {
        object-fit: cover;
    }

    @include response-max($mobile) {
        aspect-ratio: 1/1;
    }
}

.card__title {
    @include color-gradient;
    font-size: 32px;
    margin-bottom: 12px;

    @include response-max($mobile) {
        font-size: 24px;
    }
}

.card__btn {
    width: 100%;
    max-width: 100%;
    margin-bottom: 12px;
    height: 53px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__socials {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.card__social {
    width: 40px;
    height: 40px;
    padding: 10px;

    img {
        transition: $transition;
        transform-origin: center;
    }

    @include response-min($desktop) {
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.onlyfans_content {
    .card__img {
        aspect-ratio: 1/1;
        position: relative;

        .card__img_tag {
            position: absolute;
            left: 0;
            top: 0;
            background: $color-main;
            color: #fff;
            padding: 8px 16px;
            border-bottom-right-radius: 12px;
        }
    }

    .card {
        width: 100%;
    }

    @include response-min($desktop) {
        .card {
            max-width: 277px;
        }
    }

    @include response-max($mobile) {
        .text_block {
            padding: 0;
            background-color: unset;
            border-radius: 0;
            box-shadow: unset;
        }
    }
}

.socials__slider {
    .swiper-wrapper {
        align-items: center;
        margin-left: -16px;
    }
}

.socials__slider_item {
    width: 276px;
    height: 342px;
    border-radius: 16px;
    overflow: hidden;

    &.swiper-slide-active {
        margin: 0 16px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    @include response-min($desktop) {
        transition: $transition;
        transform: scale3d(0.9, 0.9, 1) !important;

        &.swiper-slide-active {
            transform: scale3d(1.0, 1.0, 1) !important;
        }
    }
}