[id=footer] {
    margin-bottom: 100px;

    @include response-max($laptop-landscape) {
        margin: 0 0 32px;
    }

    * {
        color: $color-font;
    }

    .menu {
        li {
            &:not(:last-child) {
                margin-bottom: 8px;

                @include response-max($laptop-landscape) {
                    margin-bottom: 32px;
                }
            }
        }
    }
}

.footer__col {
    width: 100%;

    @include response-max($laptop-landscape) {
        text-align: center;
    }
}

.footer__row {
    width: 100%;
    display: flex;

    &:first-of-type {
        .menu {
            li {
                a {
                    @include color-gradient;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 1.4;

                    @include response-min($desktop) {
                        &:hover {
                            color: $color-font;
                            background: none !important;
                            -webkit-text-fill-color: unset !important;
                        }
                    }

                    @include response-max($laptop-landscape) {
                        font-size: 23px;
                    }
                }
            }
        }

        .footer__col {
            &:nth-child(2), &:nth-child(3) {
                display: flex;
                justify-content: center;
            }

            @include response-min($desktop) {
                &:first-child {
                    flex: 0 1 50%;
                }

                &:nth-child(n + 2) {
                    flex: 1 0 calc(50% / 3);
                }
            }

            @include response-max($laptop-landscape) {
                &:nth-child(1), &:nth-child(4) {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        @include response-max($laptop-landscape) {
            border: none !important;
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;

            .footer__socials {
                display: none !important;
            }

            .footer__col {
                &:first-child {
                    margin-bottom: 32px;
                }
            }
        }
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid rgba(86, 76, 76, 0.5);
        padding-bottom: 32px;
        margin-bottom: 32px;

        @include response-max($laptop-landscape) {
            .footer__col {
                &:nth-child(2), &:nth-child(3) {
                     margin-bottom: 32px;
                }
            }
        }
    }

    &:nth-of-type(2) {
        .menu {
            li {
                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.3;
                    color: rgba(86, 76, 76, 1);

                    @include response-min($desktop) {
                        &:hover {
                            color: $color-main;
                        }
                    }
                }
            }
        }

        @include response-min($desktop) {
            .footer__socials {
                display: none;
            }
        }

        @include response-max($laptop-landscape) {
            border: none !important;
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;

            .footer__socials {
                justify-content: center;
            }
        }
    }

    @include response-min($laptop-landscape - 1) {
        justify-content: space-between;
    }

    @include response-max($laptop-landscape) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px !important;

        &:nth-child(2) {
            .menu {
                margin-bottom: 12px;
            }

            .footer__col {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.footer__title {
    font-size: 16px;
    font-weight: 400;

    & + [class^='menu'] {
        li {
            &:not(:last-child) {
                margin-bottom: 8px;
            }

            a {
                font-size: 14px;
                line-height: 1.4;
                padding: 0;
            }
        }

        @include response-max($laptop-landscape) {
            display: none;
        }
    }

    @include response-min($desktop) {
        display: none;
    }

    @include response-max($laptop-landscape) {
        position: relative;
        font-size: 23px;
        @include color-gradient;

        &:after {
            content: '';
            background: url('../img/arrow-down.svg') center / contain no-repeat;
            transition: $transition;
            margin-left: 10px;
            width: 10px;
            height: 7px;
            display: inline-block;
            transform-origin: center;
            line-height: 1;
        }

        &.show_menu {
            &:after {
                transform: rotate(-180deg);
            }
        }
    }
}

.footer__logo {
    margin-bottom: 24px;

    .custom-logo-link {
        height: 88px;
        width: 88px;
    }

    @include response-min($desktop) {
        .header__title {
            display: none;
        }
    }

    @include response-max($laptop-landscape) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 16px;

        .custom-logo-link {
            height: 56px;
            width: 56px;
        }

        .header__title {
            font-size: 20px;
        }
    }
}

.footer__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;

    @include response-max($laptop-landscape) {
        font-size: 16px;
    }
}

.socials {
    margin: 0 -10px;
    display: flex;

    @include response-min($laptop-landscape - 1) {
        justify-content: flex-end;
    }

    @include response-max($laptop-landscape) {
        justify-content: center;
        gap: 38px;
        flex-wrap: wrap;
    }
}

.socials__title {
    margin-bottom: 12px;

    @include response-min($desktop) {
        text-align: right;
    }
}

.social__item {
    margin: 0 10px;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 2;
    transition: $transition;

    @include pointer;

    a {
        height: 100%;
    }

    img {
        filter: contrast(0.5);
    }

    @include response-min($desktop) {
        &:hover {
            transform: scale(0.9);
        }
    }

    @include response-max($laptop-landscape) {
        width: 28px;
        height: 28px;
    }
}