$color-main: #F0808E;
$color-main-hover: #D55C6B;
$color-hot: #FF2641;
$color-hot-hover: #B7041A;
$color-font: rgba(86, 76, 76, 1);

$transition: 0.3s ease-in-out;

$laptop-landscape: 1024px;
$desktop: 1025px;
$laptop-portrait: 768px;
$mobile: 767px;
$header-responsive: 1250px;